<nav class="main-menu">
  <header><h1><%= t :"modules.sns" %></h1></header>
  <div>
    <%= link_to :"sns.profile", sns_cur_user_profile_path %>
    <%= link_to :"sns.file", sns_cur_user_files_path %>
    <%= link_to :"sns.account", sns_cur_user_account_path %>
  </div>
</nav>
